{% extends "onlinetest/header.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12" style="text-align: justify">
            <br>
            <a href="/about" class="btn btn-primary"> <b style="font-size:larger">About the Developer </b></a>
            <br><br>
            <p><b>
                This project was conceptualised and designed during the <b class="yell">TCS Remote Summer Internship Programme 2017</b>,
                under the mentorship of Mr. Vaibhav Sharma. The website is designed and maintained by three students from
                <b class="blue"> School of
                Information and Communication Technology.</b> Their details are given below under the Contact
                Details segment.</b>
                </b>
            </p>
            <p><b>The portal helps you take online tests that too <b class="green"> free of cost.</b> There is both student
                login and a client login facility availabe.<b class="yell"> Online Examination System </b> is a website that
                can be used for business and training tests, recruitment and pre - employment assessments, health and safety
                quizzes. <br><br>It fulfills the requirements of the organizations/institutes to conduct the exams online.
                They do not have to go to any <b class="green">software developer</b> to make a separate site for being able
                to <b class="blue">conduct exams online.</b> They just have to register on the site and enter the exam details
                (exam duration, excel file).<br><br> Students can give exam without the need of going to any <b class="yell">physical destination.</b>                They can view the result at the same time. Administrator has a privilege to create, modify and delete the
                test papers and its questions. User can register, login and give the test with his specific <b class="blue">id.</b>                Organizations can view the records of the enrolled students and can analyse the marks of those students who
                had taken the test. Students get to know their<b class="green"> results immediately</b> after submission
                of the test through a pop-up. <br><br>Thus, the <b class="yell">purpose</b> of the site is to provide a system
                that saves the <b class="blue">efforts</b> and time of both the institutes and the students and hence conduct
                online examination in an organised and efficient manner.<br><br>


                </b>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="heading-title text-center">
            <h3 class="text-uppercase">About Developer </h3>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="static/onlinetest/img/30105541.jpeg"  alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>sakkhar saha</h4>
                        <p>Email : sakkhar@mail.com</p>
                    </div>
                    <div class="s-link">
                        <a href="https://www.facebook.com/sakkhar.me" target="=_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/sakkhar" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/sakkhar/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}